In [5]:
import pandas as pd
import os

df = pd.read_csv('C:/Cand.merc.BI/2. Semester/Data Science Project/Project/BilbasenProject/data/data_analysis/clean_data_ID_4.csv')

In [6]:
df

,Seller_type,Price_kr,Model_year,First_registration,Mileage_km,Range_km,BatteryCapacity_kWh,Horsepower,Acceleration_sec,Color,Drive_type
0,True,299800,2021,8/2021,2000,490,77.0,204,8.5,Koksmetal,Baghjulstræk
1,True,329800,2023,10/2022,5000,514,77.0,204,8.5,Blåmetal,Baghjulstræk
2,True,289900,2023,7/2023,7000,531,77.0,174,10.4,Hvidmetal,Baghjulstræk
3,True,419800,2023,3/2023,50,479,77.0,299,6.2,Hvidmetal,Firehjulstræk
4,True,359900,2023,6/2023,37,496,77.0,299,6.2,Sølvmetal,Firehjulstræk
...,...,...,...,...,...,...,...,...,...,...,...
481,False,339000,2022,11/2022,15000,514,77.0,204,8.5,Sort,Baghjulstræk
482,False,350000,2023,2/2023,8000,496,76.6,299,6.2,Hvid,Firehjulstræk
483,False,295000,2022,12/2022,25000,514,76.6,204,8.5,Sølvmetal,Baghjulstræk
484,False,299500,2021,4/2021,42000,490,76.6,204,8.5,Gråmetal,Baghjulstræk
485,False,295000,2023,12/2022,26000,531,76.6,204,8.5,Blå,Baghjulstræk

Below needs modification

In [7]:
df_corr = df_v[[
           'Seller Type', 
           'Price', 
           'Modelår',
           'Kilometertal', 
           'Rækkevidde', 
           'Batterikapacitet', 
           'Ydelse', 
           'Acceleration',
           'Trækvægt']]

NameError: name 'df_v' is not defined

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(df_corr)
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')